* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: aliceblue;
  font-size: 16px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #f79898;
}

nav {
  margin: auto;
  padding: 1.5rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  display: grid;
  justify-content: 3fr;
}

.nav_title {
  text-align: center;
}

nav h1 {
  color: #fff;
  font-weight: 400;
  font-size: 1.6rem;
}

nav p {
  color: rgb(243, 227, 227);
}

.nav_btns {
  display: grid;
  grid-template-columns: 2fr;
  position: absolute;
  right: 1rem;
}

nav button {
  color: #262626;
  background-color: inherit;
  border: 1px solid lightgray;
  border-radius: 5px;
  margin: 0.5px;
  width: 90px;
  height: 25px;
  cursor: pointer;
  outline: none;
  font-weight: bolder;
}

.btn_signup {
  background-color: lightgray;
}

footer {
  background-color: #f79898;
  color: #fff;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 6rem;
  font-size: 13px;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

footer li {
  margin: 1.3rem;
}

.logo {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 1rem;
}

.word {
  background-color: #f6e6e4;
  padding: 10px;
  width: 300px;
  margin: 16px;
  float: left;
}

.word h1 {
  color: #262626;
  margin: 0 0 6px;
}

.word p {
  color: #262626;
  margin: 0 0 2px;
}

.word.checked {
  text-decoration: line-through;
}

.word button {
  position: relative;
  float: right;
  margin-right: 10px;
  background-color: inherit;
  color: red;
  border: none;
  width: 36px;
  height: 36px;
  cursor: pointer;
  outline: none;
}

form {
  position: relative;
  width: 480px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
form input,
form textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}
form button {
  position: absolute;
  right: 18px;
  bottom: -18px;
  background: #f79898;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  outline: none;
}
